@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply blink animation to the logo */
  .blink {
    animation: blink 3s infinite; /* 1 second for each blink cycle */
  }